.order-details-page-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

/* HEADER */
.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.order-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* HEADER */
.order-details-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.order-details-dates {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: left;
}

.print-invoice-container {
  display: flex;
  justify-content: flex-end;
}

/* FOOTER */
.order-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 30px;
  font-size: 14px;
}

.order-info-left-column,
.order-info-right-column {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.order-info-left-column h3,
.order-info-right-column h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.order-info-sub-section {
  display: flex;
}

.order-info-sub-section-labels {
  display: flex;
  flex-direction: column;
}

.order-info-sub-section-values {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
