.order-items-table {
  border: 1px solid #ddd;
  margin-bottom: 30px;
}

.order-items-table-invoice {
  border: none;
}

.table-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  background-color: #00d4aa;
  color: black;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}

.table-header-invoice {
  background-color: #ffffff;
  border-top: #333 2px solid;
  border-bottom: #333 2px solid;
}

.table-row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding: 15px;
  font-size: 14px;
}

.col-product {
  display: flex;
  align-items: flex-start;
  border: none;
}

.col-qty,
.col-price,
.col-total {
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}

.table-footer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding: 15px;
  border-top: 2px solid #333;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
}

.total-label {
  grid-column: 3;
  text-align: right;
  padding-right: 10px;
}

.total-amount {
  grid-column: 4;
  text-align: right;
  padding-right: 10px;
}
