.order-details-page-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

/* HEADER */
.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.order-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* TOP SECTION */
.order-details-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.order-details-dates {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: left;
}

.print-invoice-container {
  display: flex;
  justify-content: flex-end;
}
