#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* PAGES */
.home-page-container {
  position: relative;
  margin-top: 50px; /* Add space for navbar */
}


/* COMPONENTS */
/* DEBUG WINDOW */
.debug-window {
  position: fixed;
  left: 0;
  bottom: 50px;
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid black;
  z-index: 1000;
}

.debug-window-button {
  margin-left: 10px;
}

/* NAVIGATION BAR */
.navbar {
  background-color: #00c698;
  color: black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; /* Stick to viewport */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
  width: 100%; /* Full width */
  z-index: 100;
}

.logo {
  font-weight: bold;
  font-size: 2em;
  transform: translateY(-4px);
}

.nav-search-bar-container {
  flex-grow: 1;
  margin-left: 20px;
}

.nav-search-bar {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  width: 80%;
}

.nav-options-container {
  display: flex;
  align-items: center;
  padding-right: 2em;
}

.nav-options-icon {
  width: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.nav-options-span {
  font-size: 1em;
  margin-right: 10px;
}

/* CAROUSEL */
.promo-carousel {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.slick-slide > div { /* Target the immediate child div of the slick-slide */
  justify-content: center;
}

.slick-slide img {
  margin: 0 auto; /* Alternative for horizontal centering if flexbox isn't fully applied */
}

.promo-carousel .slick-prev:before,
.promo-carousel .slick-next:before {
  color: black; /* Set arrow color */
  font-size: 50px; /* Adjust arrow size */
}

.promo-carousel .slick-prev {
  left: -50px;
}

.promo-carousel .slick-next {
  right: -20px;
}

.promo-carousel-slide {
  cursor: pointer;
}

/* PRODUCT SLIDER */
.product-slider-container {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.product-slider-header {
  background-color: #00c698;
  height: 50px;
}

.product-slider-header h2 {
  line-height: 50px; /* Same as parent's height */
  margin: 0;
}

.product-slider-items-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.product-slider-items {
  display: flex;
}

.product-slider-card {
  margin: 0 10px;
  border: 1px solid black;
  padding: 10px;
}

.product-slider-image {
  max-width: 100px;
  height: 140px;
}

